<div class="row">
    <div class="col-md-4">
        <img class="img-fluid" src="@Model.Cover" />
        <h3 class="font-weight-bold text-center">Album Name: @Model.Name</h3>
        <h3 class="font-weight-bold text-center">Album Price: $@Model.Price</h3>
        <div class="row">
            <div class="col-md-9">
                <a class="btn btn-success" href="/tracks/create?albumId=@Model.Id">Create Track</a>
            </div>
            <div>
                <a class="btn btn-success" href="/albums/all">Back To All</a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <h3 class="font-weight-bold bottom-buffer-md text-center">Tracks</h3>
        @Model.Tracks
    </div>
</div>