<h1>Register</h1>
<form method="post">
    <div>
        Username: <input type="text" name="username" placeholder="Username..." />
    </div>
    <div>
        Password: <input type="password" name="password" placeholder="Password..." /> 
    </div>
    <div>
        Confirm Password: <input type="password" name="confirmPassword" placeholder="Confirm Password..." />
    </div>
    <div>
        Email: <input type="text" name="email" placeholder="Email..." />
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>